examples/example-flow.json
[{
  "id": "3112733f.a6066c",
  "type": "tab",
  "label": "Flow 2",
  "disabled": false,
  "info": ""
}, {
  "id": "f0f6b49a.af27a8",
  "type": "status",
  "z": "3112733f.a6066c",
  "name": "",
  "scope": ["2f6d833b.39ccbc"],
  "x": 380,
  "y": 320,
  "wires": [
    ["ca9b1b2f.5c1c08"]
  ]
}, {
  "id": "d79e825f.826c5",
  "type": "inject",
  "z": "3112733f.a6066c",
  "name": "",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "repeat": "0.5",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "x": 390,
  "y": 500,
  "wires": [
    ["ca9b1b2f.5c1c08"]
  ]
}, {
  "id": "65c7c575.d3063c",
  "type": "debug",
  "z": "3112733f.a6066c",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "x": 970,
  "y": 500,
  "wires": []
}, {
  "id": "2f6d833b.39ccbc",
  "type": "mqtt out",
  "z": "3112733f.a6066c",
  "name": "",
  "topic": "/v1/devices/me/telemetry",
  "qos": "",
  "retain": "",
  "broker": "1b42e40d.a036bc",
  "x": 1010,
  "y": 300,
  "wires": []
}, {
  "id": "ca9b1b2f.5c1c08",
  "type": "StoreNForward",
  "z": "3112733f.a6066c",
  "name": "",
  "speed": "10",
  "connected": "^connected",
  "connectedType": "re",
  "disconnected": "",
  "disconnectedType": "re",
  "sqlite": "C:\\Working\\NOde\\node-red-msg_queue.queue.sqlite",
  "x": 700,
  "y": 400,
  "wires": [
    ["65c7c575.d3063c", "2f6d833b.39ccbc"]
  ]
}, {
  "id": "1b42e40d.a036bc",
  "type": "mqtt-broker",
  "z": "",
  "name": "",
  "broker": "hitempalarm.com",
  "port": "1883",
  "clientid": "",
  "usetls": false,
  "compatmode": false,
  "keepalive": "60",
  "cleansession": true,
  "birthTopic": "",
  "birthQos": "0",
  "birthPayload": "",
  "closeTopic": "",
  "closeQos": "0",
  "closePayload": "",
  "willTopic": "",
  "willQos": "0",
  "willPayload": ""
}]